
@{
    ViewData["Title"] = "GirisYap";
}

<h1>GirisYap</h1>

<form class="box" method="post">
    <label>E-Mail Adress</label>
    <br />
    <input type="text" name="EmailAdres" placeholder="Mail Adresi Giriniz" />
    <br />
    <input type="password" name="Password" placeholder="Şifrenizi Giriniz" />
    <br />
    <br />
    <input type="submit" value="Login" class="btn btn-success" />
</form>